<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${mysql.driver_class}" />
		<property name="url" value="${mysql.jdbcurl}" />
		<property name="username" value="${mysql.user}" />
		<property name="password" value="${mysql.password}" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>	

	<bean id="locationDao" class="com.sva.dao.LocationDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="storeDao" class="com.sva.dao.StoreDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="locationDelayDao" class="com.sva.dao.LocationDelayDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
    
	<bean id="messagePushDao" class="com.sva.dao.MessagePushDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="svaDao" class="com.sva.dao.SvaDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="mapsDao" class="com.sva.dao.MapsDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="msgDao" class="com.sva.dao.MessageDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	
	<bean id="areaDao" class="com.sva.dao.AreaDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="categoryDao" class="com.sva.dao.CategoryDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	

	<bean id="sellerDao" class="com.sva.dao.SellerDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="codeDao" class="com.sva.dao.CodeDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<bean id="estimateDao" class="com.sva.dao.EstimateDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="accountDao" class="com.sva.dao.AccountDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="roletDao" class="com.sva.dao.RoleDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="accuracyDao" class="com.sva.dao.AccuracyDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="staticAccuracyDao" class="com.sva.dao.StaticAccuracyDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="dynamicAccuracyDao" class="com.sva.dao.DynamicAccuracyDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="commonDao" class="com.sva.dao.CommonDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="linemapDao" class="com.sva.dao.LinemapDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="barmapDao" class="com.sva.dao.BarmapDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="rangemapDao" class="com.sva.dao.RangemapDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<bean id="bluemixDao" class="com.sva.dao.BluemixDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="prruDao" class="com.sva.dao.PrruDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="paramDao" class="com.sva.dao.ParamDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="phoneDao" class="com.sva.dao.PhoneDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="bzpramesDao" class="com.sva.dao.BZPramesDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="registerDao" class="com.sva.dao.RegisterDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="electronicDao" class="com.sva.dao.ElectronicDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>         
	<bean id="subsribeDao" class="com.sva.dao.subsribeDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<!-- 开启注解事务 只对当前配置文件有效 注解事务和下面的声明式事务只需选择其中一种，推荐用声明式事务 -->
	<!-- <aop:aspectj-autoproxy expose-proxy="true"/> <tx:annotation-driven 
		transaction-manager="h4TManager"/> -->

</beans>