#heatmap {
	height: 100%;
	width: 100%;

}
#heatmap2 {
	height: 100%;
	width: 100%;

}
#heatmap3 {
	height: 100%;
	width: 100%;

}
#heatmap4 {
    height: 100%;
    width: 100%;

}
#heatmap5 {
    height: 100%;
    width: 100%;

}
#heatmap6 {
    height: 100%;
    width: 100%;

}
#heatmap7 {
    height: 100%;
    width: 100%;

}
#heatmap8 {
    height: 100%;
    width: 100%;

}
