/* here you can put your own css to customize and override the theme */
.width15p{
	width:15%;
}

.width10p{
	width:10%;
}

.width10p{
	width:10%;
}

.width1{
	width:8.333333333333332%;
}

.width2{
	width:16.666666666666664%;
}